.user__details_container {
    flex-basis: 50%;
    padding: 5px;
    background-color: rgba(176, 183, 210, 0.68);
    border-radius: 15px;
}

.user__details_info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
}

.user__details_info button {
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #3ba1df;
    color: #3ba1df;
    background-color: #ffffff;
    transition: .2s;
    font-weight: 600;
    font-size: 16px;
}

.user__details_info button:hover {
    background-color: #3ba1df;
    color: #fff;
    transition: .2s;
}
