* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #84838e;

}

.container {
    padding: 10px;
    background-color: #c3c3c3;
}

.users__posts_div {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    border: 2px solid #0040ff;
    margin-bottom: 10px;
}

.comments__div {
    padding: 10px;
    border: 2px solid #ff00b2;
}

.users__div, .posts__div {
    flex-basis: 50%;
}

.user, .post, .comment {
    padding: 5px;
    border: 1px solid #333;
    margin-bottom: 10px;
}

