* {
    margin: 0;
}

.launch {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #cfcfcf;
    border: 2px solid #333;
}

.name__year_div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}